<div class="row">
    <div class="col-8">
      <h2><span>The Second Heading</span><span class=“text-secondary”>catch your eyes</span></h2>
      <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English</p>
    </div>
    <div class="col-4">
      <img src="https://f29def4c-9d3d-4010-a36e-00f46f36b68f.ws-us03.gitpod.io/files/download/?id=57e78b38-6ed5-4510-8d8a-88d4ffba0fd9"class=“rounded-circle” alt="Cinque Terre" width="304" height="236">
    </div>    
</div>