<!-- your html code here -->
<div class="container">
    <div class="row">
        <div class="col-4">
            <img src="https://browser-ea7b165a-0bd3-4449-b2a1-d3a0790abe5e.ws-us03.gitpod.io/workspace/exercise-collaborative-html-website/website1/assets/img/2.jpg" class="rounded-circle">
        </div>
        <div class="col-8">
            <h2><span>The Second Heading</span><span class="text-secondary">Is Pretty Cool Too.</span></h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when a</p>
        </div>